
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}


body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("./images/cuboid_background.jpg");
}


.wrapper {
  /*this margin offests the cube being displayed 300px below where it should be*/
  margin-bottom: 300px;
  margin-right: 150px;
  margin-left: 150px;
  width: 300px;
}


.sidebar {
  min-width: 400px;
  max-width: 400px;
  height: 300px;

  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;


  border: 3px solid white;
  border-radius: 3px;
  color: white;

  font-size: 18px;
  font-weight: bold;
  background: rgba(0,0,0,.6);
  font-family: "Avant Garde" "Century Gothic", sans-serif;
}

button {
  color: black;
  font-family: "Avant Garde" "Century Gothic", sans-serif;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #203C3C;
  background: #C9E8E6;
}

button:hover {
  background: #499B96;
  cursor: pointer;
}

button:focus {
  outline: 0;
}


button[name="new-game-button"] {
  display: none;
}

button[selected="selected"] {
  background: #499B96;
}

.sidebar-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar-footer span {
  font-size: 24px;
}

.w1 {
  perspective: 3000px;
}


.wrapper h1 {
  text-align: center;
}

.level {
  position: absolute;
  top: 375px;
  left: 115px;

  color: white;

  font-size: 20px;
  font-weight: bold;
  font-family: "Avant Garde" "Century Gothic", sans-serif;
}

.cube {
  font-size: 20px;
  width: 300px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(45deg);
  -webkit-transition: all .3s ease-in-out	;
}

.side {
  position: absolute;
  width: 300px;
  height: 300px;

  background-position: 50% 50%;
  background-size:cover;

  color: white;
  text-align: center;
  line-height: 66px;

}

.front  { transform:                  translateZ(150px); }
.top    { transform: rotateX( 90deg)  translateZ(150px); }
.right  { transform: rotateY( 90deg)  translateZ(150px); }
.left   { transform: rotateY(-90deg)  translateZ(150px); }
.bottom { transform: rotateX(-90deg)  translateZ(150px); }
.back   { transform: rotateY(-180deg) translateZ(150px); }

.front {
  background-image: url("./images/cuboid_background.jpg");
}

.back {
  background-image: url("./images/cuboid_background.jpg");
}

.left {
  background-image: url("./images/cuboid_background.jpg");
}

.right {
  background-image: url("./images/cuboid_background.jpg");
}

.top {
  background-image: url("./images/sky.jpg");
}

.bottom {
  background-image: url("./images/cave.jpg");
;
}

.side > div {
  color: black;
  display: flex;
  height: 33.33%;
}

.side > div > div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid black;
  width: 100%;
}

.Coin {
  background-image: url("./images/coin.gif");
  background-size: 40%;
}

.Player {
  background-size: 120%;
  background-image: url("./images/hero.gif");
}

.Enemy {
  background-size: 80%;
  background-image: url("./images/enemy.gif");
}


/*
Collision!
*/
.Player.Enemy {
  background-image: url("https://www.spreadshirt.com/image-server/v1/mp/designs/12115871,width=178,height=178/cute-skull-and-bones.png");
}



/*
https://codepen.io/anon/pen/EibhI and https://css-tricks.com/almanac/properties/p/perspective/ used as base to create cube with css
*/
