
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}


body {
  -webkit-transition:all .3s linear;
}


.wrapper {
  width: 50%;
  float: left;
}

.w1 {
  perspective: 1000px;
}


.wrapper h1 {
  text-align: center;
}

.cube {
  font-size: 20px;
  width: 200px;
  margin: 150px auto;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(45deg);
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;

  background: blue;

  color: white;
  text-align: center;
  line-height: 66px;
}

.front  { transform:                  translateZ(100px); }
.top    { transform: rotateX( 90deg)  translateZ(100px); }
.right  { transform: rotateY( 90deg)  translateZ(100px); }
.left   { transform: rotateY(-90deg)  translateZ(100px); }
.bottom { transform: rotateX(-90deg)  translateZ(100px); }
.back   { transform: rotateY(-180deg) translateZ(100px); }

.front {
  background-color: #F89406;
}

.back {
  background: #D91E18;
}

.left {
  background: #446CB3;
}

.right {
  background: #019875;
}

.top {
  background: #ECF0F1;
}

.bottom {
  background: #F7CA18;
;
}

.side > div {
  color: black;
  display: flex;
  height: 33.33%;
}

.side > div > div {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.Player {
  background: purple;
}

.Enemy {
  background: red;
}

.Coin {
  background: blue;
}

/*
Collision!
*/
.Player.Enemy {
  background: yellow;
}


/*
https://codepen.io/anon/pen/EibhI and https://css-tricks.com/almanac/properties/p/perspective/ used as base to create cube with css
*/
